body{
  background: #0e14b8;
  color: white;
}

nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1f2d8a;
}

nav li{
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  cursor:pointer;
  font-size:18px;
}

a{
  background-color: inherit;
  color: inherit;
  text-decoration: none;
}

a:hover{
  color:#05fff7; 
  text-decoration:none; 
  cursor:pointer;  
}

nav ul li .active{
  background:blue;
  color: black;
  border-radius:6px;
  text-decoration: none;
}

.row{
  width:100%;
  text-align: center;
}
.column {
  float: left;
}

.left {
  width: 25%;
}

.right {
  width: 75%;
}